* {
	padding: 0px;
	margin: 0px;
}

/* SMOOTH SCROOL */
html {
	scroll-behavior: smooth;
}

.roboto-light {
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 1.2em;
}

.bg-viajes {
	background-color: rgba(0, 234, 255, 0.943);
}

h2 {
	margin-block: 32px;
}

/* ******************************************************************* */
/* ******************** C A R R U S E L ****************************** */

/* Definir altura máxima de las imágenes */
.carousel-item img {
	max-height: 740px;
}

/* ******************************************************************* */
/* ********************* N A V B A R ********************************* */

#logo img {
	max-width: 10%;
}

#navbar {
	z-index: 1000; /* Esto asegura que el menú esté por encima de otros elementos, como un carrusel */
	transition: background-color 0.5s ease;
}

/* Estilo predeterminado de los enlaces */
.navbar a {
	color: white;
	transition: background-color 0.5s ease; /* Transición suave */
}
/* Estilo de los enlaces al pasar el cursor */
.navbar a:hover {
	background-color: black; 
}

/* Estilo de los enlaces al pasar el cursor al desplazarse */
.navbar.scrolled a:hover {
	background-color: rgba(0,234,255,0.943); 
	color: white; 
}

li {
	font-size: 1.26em;
}

/* ******************************************************************* */
/* **************** S E C C I O N  -  D E S T A C A D O S ************ */

/* Definimos el estilo inicial de la card */
.card {
	transition: transform 0.5s, background-color 0.5s; /* Animación */
	opacity: 80%;
}

/* Definimos el estilo de la card cuando se pasa el cursor sobre ella */
.card:hover {
	transform: scale(1.05); /* Agrandamos la card */
	opacity: 100%; /* Oscurecemos la card */
}

.card-body p {
	font-size: 1em;
}
/* Fijar altura máxima para las card */
.card img {
	max-height: 190px;
}

/* ************************************************************************ */
/* ******************************* FORMULARIO ***************************** */

/* Definimos el estilo inicial de la caja de texto y el textarea */
input[type="text"],
textarea {
	transition: box-shadow 0.2s; /* Animación */
}

/* Definimos el estilo de la caja de texto y el textarea cuando se hace clic en ellos */
input[type="text"]:focus,
textarea:focus {
	box-shadow: 0 0 20px rgba(72, 211, 213, 0.935); /* Agrega un resplandor */
}

/* Definimos el estilo inicial del botón */
.btn {
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1.2em;
	transition: transform 0.6s; /* Animación */
	cursor: pointer;
}

/* Definimos el estilo del botón cuando se pasa el cursor sobre él */
.btn:hover {
	background-color: rgba(0, 234, 255, 1); /* Intensificamos el color */
	color: black;
	transform: scale(1.1); /* Agrandamos el botón */
	box-shadow: 0 0 10px rgba(0, 234, 255, 1); /* Agregamos un efecto de sombra para darle más énfasis */
	opacity: 100%;
}

form div * {
		font-size: 1.25em;

}

/* ******************************************************************** */
/* *************************** F O O T E R **************************** */

footer {
	height: 100px;
	margin-top: 50px;
	padding-inline: 6%;
}

footer div p {
	font-size: 1.8em;
}

h3 :hover {
	color: black;
}

footer div a :hover {
	color: black;
}

i {
	font-size: 1.9em;
	padding-inline: 5px;
}

/* aplica colores a tootip del formulario  */
.custom-tooltip {
	--bs-tooltip-bg: rgba(0, 234, 255, 0.943);
	--bs-tooltip-color: white;
}

/****************************************************************************** 
******************* ******* M E D I A -  Q U E R Y ****************************/

@media only screen and (max-width: 576px) {
	ul :nth-child(2),
	#quienes-somos-section {
		display: none;
	}

	.container-navbar {
		display: flex;
		justify-content: center;
	}

	.navbar {
		background-color: black;
		opacity: 90%;
	}

	h1 {
		font-size: 1em;
	}

	li {
		font-size: 0.75em;
	}

	.card {
		transition: none;
		transform: none;
		opacity: 100%;
		margin-bottom: 5%;
	}
}
